@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-8xl: 27px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-3xs: 10px;
  --font-size-2xl: 21px;
  --font-size-23xl: 42px;
  --font-size-mid: 17px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.3);
  --color-gray-200: rgba(255, 255, 255, 0.51);
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-blue: #721cff;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-smi: 13px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rectangle-parent-head {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 280px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}